SKRIPSI

# Import library

In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import re
import nltk

from nltk import ngrams
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, validation_curve,RandomizedSearchCV

np.random.seed(0)
stopwords = nltk.corpus.stopwords.words('english')
poster_Stemmer = nltk.PorterStemmer()

# Baca file csv

In [2]:
#baca csv
data_amazon = pd.read_csv('Amazon_dataset.csv')
data_yelp = pd.read_csv('Yelp_dataset.csv')

In [3]:
data_amazon.head()

   Label                                           Sentimen
0      0  Buyer beware This is a self-published book, an...
1      0  The Worst! A complete waste of time. Typograph...
2      0  Oh please I guess you have to be a romance nov...
3      0  Awful beyond belief! I feel I have to write to...
4      0  Another Abysmal Digital Copy Rather than scrat...

In [4]:
data_yelp.head()

   Label                                           Sentimen
0      0  I don't know what Dr. Goldberg was like before...
1      0  I'm writing this review to give you a heads up...
2      0  Owning a driving range inside the city limits ...
3      0  This place is absolute garbage...  Half of the...
4      0  Used to go there for tires, brakes, etc.  Thei...

# Preprocessing ke lowercase

In [5]:
iterator = 0
data_Preprocessing_Amazon = data_amazon
data_Lowercase_Amazon = []

data_Preprocessing_Yelp = data_yelp
data_Lowercase_Yelp = []

while iterator < len(data_amazon) :
    data_Lowercase_Amazon.append(data_amazon.Sentimen[iterator].lower())
    iterator = iterator + 1

iterator = 0

while iterator < len(data_yelp) :
    data_Lowercase_Yelp.append(data_yelp.Sentimen[iterator].lower())
    iterator = iterator + 1

In [6]:
data_Preprocessing_Amazon['Lowercase'] = data_Lowercase_Amazon
data_Preprocessing_Amazon.head()

,Label,Sentimen,Lowercase
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an..."
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...

In [7]:
data_Preprocessing_Yelp['Lowercase'] = data_Lowercase_Yelp
data_Preprocessing_Yelp.head()

,Label,Sentimen,Lowercase
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei..."

# Menghilangkan angka

In [8]:
iterator = 0
data_RemoveNumber_Amazon = []

data_RemoveNumber_Yelp = []

while iterator < len(data_Preprocessing_Amazon) :
    data_RemoveNumber_Amazon.append(re.sub(r"\d+", "",data_Preprocessing_Amazon.Lowercase[iterator]))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_Preprocessing_Yelp) :
    data_RemoveNumber_Yelp.append(re.sub(r"\d+", "",data_Preprocessing_Yelp.Lowercase[iterator]))
    iterator = iterator + 1

In [9]:
data_Preprocessing_Amazon['RemoveNumber'] = data_RemoveNumber_Amazon
data_Preprocessing_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an..."
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [10]:
data_Preprocessing_Yelp['RemoveNumber'] = data_RemoveNumber_Yelp
data_Preprocessing_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei..."

# Menghilangkan tanda baca

In [11]:
iterator = 0
data_RemovePunctuation_Amazon = []

data_RemovePunctuation_Yelp = []

while iterator < len(data_Preprocessing_Amazon) :
    data_RemovePunctuation_Amazon.append(data_Preprocessing_Amazon.RemoveNumber[iterator].translate(str.maketrans('','', string.punctuation)))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_Preprocessing_Yelp) :
    data_RemovePunctuation_Yelp.append(data_Preprocessing_Yelp.RemoveNumber[iterator].translate(str.maketrans('','', string.punctuation)))
    iterator = iterator + 1

In [12]:
data_Preprocessing_Amazon['RemovePunctuation'] = data_RemovePunctuation_Amazon
data_Preprocessing_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an...",buyer beware this is a selfpublished book and ...
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...,the worst a complete waste of time typographic...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief i feel i have to write to ...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [13]:
data_Preprocessing_Yelp['RemovePunctuation'] = data_RemovePunctuation_Yelp
data_Preprocessing_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...,i dont know what dr goldberg was like before ...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,im writing this review to give you a heads up ...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...,this place is absolute garbage half of the te...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei...",used to go there for tires brakes etc their p...

# Menghilangkan Non alfabet

In [14]:
iterator = 0

data_Regex_alpabet_only_Amazon = []

data_Regex_alpabet_only_Yelp = []


while iterator < len(data_Preprocessing_Amazon) :
    data_Regex_alpabet_only_Amazon.append(" ".join(re.findall("[a-zA-Z]+", data_Preprocessing_Amazon.RemovePunctuation[iterator])))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_Preprocessing_Yelp) :
    data_Regex_alpabet_only_Yelp.append(" ".join(re.findall(r"[a-zA-Z]+", data_Preprocessing_Yelp.RemovePunctuation[iterator])))
    iterator = iterator + 1

In [15]:
data_Preprocessing_Amazon['Regex'] = data_Regex_alpabet_only_Amazon
data_Preprocessing_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation,Regex
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an...",buyer beware this is a selfpublished book and ...,buyer beware this is a selfpublished book and ...
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...,the worst a complete waste of time typographic...,the worst a complete waste of time typographic...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief i feel i have to write to ...,awful beyond belief i feel i have to write to ...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [16]:
data_Preprocessing_Yelp['Regex'] = data_Regex_alpabet_only_Yelp
data_Preprocessing_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation,Regex
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...,i dont know what dr goldberg was like before ...,i dont know what dr goldberg was like before m...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,im writing this review to give you a heads up ...,im writing this review to give you a heads up ...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...,this place is absolute garbage half of the te...,this place is absolute garbage half of the tee...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei...",used to go there for tires brakes etc their p...,used to go there for tires brakes etc their pr...

In [17]:
Clean_Amazon_Sentiment = data_Preprocessing_Amazon['Regex']
Clean_Yelp_Sentiment = data_Preprocessing_Yelp['Regex']
Label_Amazon = data_Preprocessing_Amazon['Label']
Label_Yelp = data_Preprocessing_Yelp['Label']

# N-Gram (bigram dan trigram)

## N-gram Amazon

In [18]:
iterator = 0
Vocabulary_Amazon = []
ngram_amazon = []
temporary = []

while iterator < len(Clean_Amazon_Sentiment) :
    ngram = 2
    sentence = Clean_Amazon_Sentiment[iterator]
    vocab = [sentence[i:i+ngram] for i in range(len(sentence)-ngram+1)]
    temp = vocab

    iterator2 = 0
    while iterator2 < len (vocab):
        if(vocab[iterator2] not in Vocabulary_Amazon) :
            Vocabulary_Amazon.append(vocab[iterator2])
        iterator2 = iterator2 + 1
    
    ngram = 3
    vocab = [sentence[i:i+ngram] for i in range(len(sentence)-ngram+1)]
    temp = temp + vocab
    ngram_amazon.append(temp)
    iterator2 = 0
    while iterator2 < len (vocab):
        if(vocab[iterator2] not in Vocabulary_Amazon) :
            Vocabulary_Amazon.append(vocab[iterator2])
        iterator2 = iterator2 + 1
        
    iterator = iterator + 1
    vocab = None
    del vocab

## N-gram Yelp

In [19]:
iterator = 0
Vocabulary_Yelp = []
ngram_yelp = []
temporary = []

while iterator < len(Clean_Yelp_Sentiment) :
    ngram = 2
    sentence = Clean_Yelp_Sentiment[iterator]
    
    vocab = [sentence[i:i+ngram] for i in range(len(sentence)-ngram+1)]
  
    temp = vocab

    iterator2 = 0
    while iterator2 < len (vocab):
        if(vocab[iterator2] not in Vocabulary_Yelp) :
            Vocabulary_Yelp.append(vocab[iterator2])
        iterator2 = iterator2 + 1
    
    ngram = 3
    vocab = [sentence[i:i+ngram] for i in range(len(sentence)-ngram+1)]
    temp = temp + vocab
    ngram_yelp.append(temp)
    iterator2 = 0
    while iterator2 < len (vocab):
        if(vocab[iterator2] not in Vocabulary_Yelp) :
            Vocabulary_Yelp.append(vocab[iterator2])
        iterator2 = iterator2 + 1
        
    iterator = iterator + 1

# Me inisialisasi jumlah frekuensi Gram di Vocabulary

In [20]:
WordDictionaryCount_Amazon = []
WordDictionaryCount_Yelp = []

iterator = 0
while iterator < len(Clean_Amazon_Sentiment):
    WordDictionaryCount_Amazon.append(dict.fromkeys(Vocabulary_Amazon, 0))
    iterator = iterator + 1
    
iterator = 0
while iterator < len(Clean_Yelp_Sentiment):
    WordDictionaryCount_Yelp.append(dict.fromkeys(Vocabulary_Yelp, 0))
    iterator = iterator + 1

In [21]:
iterator = 0
while iterator < len(Clean_Amazon_Sentiment) :
    for gram in ngram_amazon[iterator] :
        WordDictionaryCount_Amazon[iterator][gram] += 1
    iterator = iterator + 1
    
iterator = 0
while iterator < len(Clean_Yelp_Sentiment) :
    for gram in ngram_yelp[iterator] :
        WordDictionaryCount_Yelp[iterator][gram] += 1
    iterator = iterator + 1

In [22]:
pd.DataFrame([WordDictionaryCount_Amazon[0],WordDictionaryCount_Amazon[1]])

,bu,uy,ye,er,r,b,be,ew,wa,ar,...,hue,wrh,igf,tnb,sgn,gnr,nr,ydl,yov,jae
0,1,1,1,11,9,13,5,3,4,7,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,2,5,1,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [23]:
pd.DataFrame([WordDictionaryCount_Yelp[0],WordDictionaryCount_Yelp[1]])

,i,d,do,on,nt,t,k,kn,no,ow,...,qt,qt,lny,fep,cpn,mds,wfs,itv,agb,ej
0,4,11,6,13,7,19,1,1,5,1,...,0,0,0,0,0,0,0,0,0,0
1,10,7,6,10,13,21,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

## Menghitung nilai TF pada setiap data Amazon dan Yelp

In [24]:
def computeTF(wordDict, ngram):
    tfDict = {}
    ngramLength = len(ngram)
    for word, count in wordDict.items():
        tfDict[word] = count/float(ngramLength)
    return tfDict

Tf_Sentimen_Amazon = []
Tf_Sentimen_Yelp = []

iterator = 0
while iterator < len(WordDictionaryCount_Amazon):
    Tf_Sentimen_Amazon.append(computeTF(WordDictionaryCount_Amazon[iterator], ngram_amazon[iterator]))
    iterator = iterator + 1
    
iterator = 0
while iterator < len(WordDictionaryCount_Yelp):
    Tf_Sentimen_Yelp.append(computeTF(WordDictionaryCount_Yelp[iterator], ngram_yelp[iterator]))
    iterator = iterator + 1

## Menghitung nilai IDF pada setiap data Amazon dan Yelp

In [25]:
import math
def computeIDF(WordDict):
    idfDict = {}
    N = len(WordDict)
    
    idfDict = dict.fromkeys(WordDict[0].keys(), 0)
    for doc in WordDict:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

IDF_Amazon = computeIDF(WordDictionaryCount_Amazon)
IDF_Yelp = computeIDF(WordDictionaryCount_Yelp)

## Menghitung nilai TF-IDF pada setiap data Amazon dan Yelp

In [26]:
def computeTFIDF(Tf_Sentimen_Amazon, idfs):
    tfidf = {}
    for word, val in Tf_Sentimen_Amazon.items():
        tfidf[word] = val*idfs[word]
    return tfidf


TF_IDF_Amazon = []
iterator = 0
while iterator < len(WordDictionaryCount_Amazon):
    TF_IDF_Amazon.append(computeTFIDF(Tf_Sentimen_Amazon[iterator], IDF_Amazon))
    iterator = iterator + 1
    
TF_IDF_Yelp = []
iterator = 0
while iterator < len(WordDictionaryCount_Yelp):
    TF_IDF_Yelp.append(computeTFIDF(Tf_Sentimen_Yelp[iterator], IDF_Yelp))
    iterator = iterator + 1

## Menampung nilai TF-IDF pada variabel Vectorizer

In [27]:
Vectorizer_Amazon = []
iterator  = 0
while iterator < len(TF_IDF_Amazon):
    Vectorizer_Amazon.append(list(TF_IDF_Amazon[iterator].values()))
    iterator = iterator + 1
    
Vectorizer_Yelp = []
iterator  = 0
while iterator < len(TF_IDF_Yelp):
    Vectorizer_Yelp.append(list(TF_IDF_Yelp[iterator].values()))
    iterator = iterator + 1

## Data Frame Vectorizer Amazon

In [28]:
DataFrame_Amazon = pd.DataFrame(Vectorizer_Amazon, columns = Vocabulary_Amazon)
print (DataFrame_Amazon)

            bu        uy        ye        er        r          b        be  \
0     0.000193  0.000555  0.000441  0.000186  0.000254  0.000318  0.000603
1     0.000000  0.000000  0.000000  0.000115  0.000479  0.000083  0.000000
2     0.000291  0.000000  0.000000  0.000204  0.000255  0.000257  0.000908
3     0.000000  0.000000  0.000000  0.000194  0.000442  0.000255  0.000757
4     0.000000  0.000000  0.000000  0.000147  0.000266  0.000142  0.000525
...        ...       ...       ...       ...       ...       ...       ...
9995  0.000358  0.001029  0.000000  0.000031  0.000105  0.000136  0.000224
9996  0.000446  0.001281  0.000509  0.000176  0.000130  0.000198  0.000418
9997  0.000000  0.000000  0.001454  0.000000  0.000093  0.000161  0.000000
9998  0.001120  0.000000  0.000000  0.000245  0.000164  0.000213  0.000350
9999  0.000000  0.000000  0.000000  0.000212  0.000354  0.000077  0.000000

            ew        wa        ar  ...  hue  wrh  igf  tnb  sgn  gnr  nr   \
0     0.001135  0.000494  0.000523  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.000000  0.000419  0.000507  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.001138  0.000743  0.000225  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.001185  0.000516  0.000156  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.000274  0.000179  0.000705  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.001404  0.000000  0.000277  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.000437  0.000855  0.000259  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.000000  0.000407  0.000739  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.000000  0.000716  0.000217  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.000000  0.000774  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

      ydl  yov  jae
0     0.0  0.0  0.0
1     0.0  0.0  0.0
2     0.0  0.0  0.0
3     0.0  0.0  0.0
4     0.0  0.0  0.0
...   ...  ...  ...
9995  0.0  0.0  0.0
9996  0.0  0.0  0.0
9997  0.0  0.0  0.0
9998  0.0  0.0  0.0
9999  0.0  0.0  0.0

[10000 rows x 9905 columns]

## Dataframe Vectorizer Yelp

In [29]:
DataFrame_Yelp = pd.DataFrame(Vectorizer_Yelp, columns = Vocabulary_Yelp)
print (DataFrame_Yelp)

            i          d        do        on        nt        t          k  \
0     0.000184  0.000388  0.000692  0.000343  0.000248  0.000095  0.000200
1     0.000506  0.000272  0.000761  0.000290  0.000508  0.000116  0.000220
2     0.000187  0.000216  0.000352  0.000376  0.000362  0.000143  0.000000
3     0.000096  0.000443  0.000483  0.000276  0.000149  0.000178  0.000000
4     0.000000  0.000129  0.000421  0.000289  0.000778  0.000201  0.000000
...        ...       ...       ...       ...       ...       ...       ...
9995  0.000395  0.000101  0.000000  0.000151  0.000102  0.000043  0.000572
9996  0.000000  0.000000  0.000000  0.000000  0.000000  0.000204  0.000000
9997  0.001175  0.000129  0.000000  0.000096  0.000130  0.000146  0.000729
9998  0.000217  0.000200  0.000218  0.000225  0.000604  0.000080  0.000189
9999  0.000933  0.000119  0.000390  0.000089  0.000240  0.000085  0.000000

            kn        no        ow  ...   qt  qt   lny  fep  cpn  mds  wfs  \
0     0.000294  0.000337  0.000101  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.000323  0.000074  0.000111  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.000000  0.000275  0.000411  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.000000  0.000282  0.000211  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.000000  0.000000  0.000289  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.000000  0.000000  0.001030  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.001073  0.000246  0.000368  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.000556  0.000127  0.000191  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

      itv  agb        ej
0     0.0  0.0  0.000000
1     0.0  0.0  0.000000
2     0.0  0.0  0.000000
3     0.0  0.0  0.000000
4     0.0  0.0  0.000000
...   ...  ...       ...
9995  0.0  0.0  0.000000
9996  0.0  0.0  0.000000
9997  0.0  0.0  0.000000
9998  0.0  0.0  0.001707
9999  0.0  0.0  0.000000

[10000 rows x 9856 columns]

# Jumlah data label positif dan negatif

In [30]:
print("Data positif negatif amazon")
DataFrame_Label = pd.DataFrame(Label_Amazon)
print(DataFrame_Label['Label'].value_counts())

print("\n")

print("Data positif negatif yelp")
DataFrame_Label = pd.DataFrame(Label_Yelp)
print(DataFrame_Label['Label'].value_counts())

Data positif negatif amazon
1    5000
0    5000
Name: Label, dtype: int64


Data positif negatif yelp
1    5000
0    5000
Name: Label, dtype: int64

# Train test split data amazon dan yelp

In [31]:
data_train_amazon, data_test_amazon, label_train_amazon, label_test_amazon = train_test_split((Vectorizer_Amazon), Label_Amazon, random_state = 0)
data_train_yelp, data_test_yelp, label_train_yelp, label_test_yelp = train_test_split((Vectorizer_Yelp), Label_Yelp, random_state = 0)

In [32]:
print("Amazon data")
data_train_amazon = np.array(data_train_amazon)
data_train_yelp = np.array(data_train_yelp)
data_test_amazon = np.array(data_test_amazon)
data_test_yelp = np.array(data_test_yelp)

label_train_amazon = np.array(label_train_amazon)
label_train_yelp = np.array(label_train_yelp)
label_test_amazon = np.array(label_test_amazon)
label_test_yelp = np.array(label_test_yelp)

print("data train shape : {}".format(data_train_amazon.shape))
print("data test shape : {}".format(data_test_amazon.shape))
print("label train shape : {}".format(label_train_amazon.shape))
print("label test shape : {}".format(label_test_amazon.shape))

print("\nYelp data")
print("data train shape : {}".format(data_train_yelp.shape))
print("data test shape : {}".format(data_test_yelp.shape))
print("label train shape : {}".format(label_train_yelp.shape))
print("label test shape : {}".format(label_test_yelp.shape))

Amazon data
data train shape : (7500, 9905)
data test shape : (2500, 9905)
label train shape : (7500,)
label test shape : (2500,)

Yelp data
data train shape : (7500, 9856)
data test shape : (2500, 9856)
label train shape : (7500,)
label test shape : (2500,)

In [33]:
# from sklearn.decomposition import PCA

# dr = PCA(n_components = 300)
# dr.fit(data_train_amazon)
# data_train_amazon = dr.transform(data_train_amazon)
# data_test_amazon = dr.transform(data_test_amazon)

# Skor Akurasi Amazon dan Yelp

In [34]:
RF_Classifier_Amazon = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Amazon.fit(data_train_amazon, label_train_amazon)
print("skor RF_Amazon: {}".format(RF_Classifier_Amazon.score(data_test_amazon, label_test_amazon)))

RF_Classifier_Yelp = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Yelp.fit(data_train_yelp, label_train_yelp)
print("skor RF_Yelp: {}".format(RF_Classifier_Yelp.score(data_test_yelp, label_test_yelp)))

skor RF_Amazon: 0.8116
skor RF_Yelp: 0.8304

# Mencari Fitur Importance > 0 dari Amazon

In [35]:
Vocabulary_Importance_Amazon = []
iterator = 0
length = len (Vocabulary_Amazon)

while iterator < length : 
    if RF_Classifier_Amazon.feature_importances_[iterator] > 0 :
        Vocabulary_Importance_Amazon.append(Vocabulary_Amazon[iterator])
       
    iterator = iterator + 1

# Mengetahui Akurasi jika diterapkan Transfer learning Feature Importance

## 1. Jika diterapkan data interseksi antara Vocabulary_Amazon (fi > 0) dan Vocabulary Yelp

In [36]:
Vocabulary_Intersection = list(set(Vocabulary_Importance_Amazon) & set (Vocabulary_Yelp))

In [37]:
WordDictionaryCount_Intersection = []

iterator = 0
while iterator < len(ngram_yelp):
    WordDictionaryCount_Intersection.append(dict.fromkeys(Vocabulary_Intersection, 0))
    iterator = iterator + 1

In [38]:
iterator = 0
while iterator < len(ngram_yelp) :
    for gram in ngram_yelp[iterator] :
        if gram in Vocabulary_Intersection :
            WordDictionaryCount_Intersection[iterator][gram] += 1
    iterator = iterator + 1

In [39]:
iterator = 0
TF_Intersection = []
while iterator < len(WordDictionaryCount_Intersection):
    TF_Intersection.append(computeTF(WordDictionaryCount_Intersection[iterator], ngram_yelp[iterator]))
    iterator = iterator + 1

IDF_Intersection = computeIDF(WordDictionaryCount_Intersection)

In [40]:
TF_IDF_Intersection = []
iterator = 0
while iterator < len(WordDictionaryCount_Intersection):
    TF_IDF_Intersection.append(computeTFIDF(TF_Intersection[iterator], IDF_Amazon))
    iterator = iterator + 1

In [41]:
Vectorizer_Intersection = []
iterator  = 0
while iterator < len(TF_IDF_Intersection):
    Vectorizer_Intersection.append(list(TF_IDF_Intersection[iterator].values()))
    iterator = iterator + 1

In [42]:
DataFrame_Intersection = pd.DataFrame(Vectorizer_Intersection, columns = Vocabulary_Intersection)
print (DataFrame_Intersection)

             d       nto  ago       ric  noy        lo  anu       owe  \
0     0.000495  0.000000  0.0  0.000000  0.0  0.000000  0.0  0.000000
1     0.000347  0.000000  0.0  0.000413  0.0  0.000357  0.0  0.000000
2     0.000275  0.000467  0.0  0.000000  0.0  0.000110  0.0  0.000000
3     0.000566  0.000960  0.0  0.000000  0.0  0.000453  0.0  0.000000
4     0.000164  0.000000  0.0  0.001370  0.0  0.001186  0.0  0.000000
...        ...       ...  ...       ...  ...       ...  ...       ...
9995  0.000129  0.000000  0.0  0.000000  0.0  0.000621  0.0  0.000000
9996  0.000000  0.000000  0.0  0.007666  0.0  0.001106  0.0  0.000000
9997  0.000164  0.000000  0.0  0.000000  0.0  0.000000  0.0  0.000000
9998  0.000256  0.000434  0.0  0.000000  0.0  0.000410  0.0  0.000433
9999  0.000152  0.000000  0.0  0.000000  0.0  0.000733  0.0  0.000000

           was  lau  ...       ffe  rro  alb  dop        l         ad  nym  \
0     0.000320  0.0  ...  0.000000  0.0  0.0  0.0  0.000504  0.000402  0.0
1     0.000529  0.0  ...  0.000000  0.0  0.0  0.0  0.000403  0.000884  0.0
2     0.000327  0.0  ...  0.000000  0.0  0.0  0.0  0.000327  0.000410  0.0
3     0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.000479  0.000000  0.0
4     0.000585  0.0  ...  0.000000  0.0  0.0  0.0  0.000167  0.000000  0.0
...        ...  ...  ...       ...  ...  ...  ...       ...       ...  ...
9995  0.000919  0.0  ...  0.000000  0.0  0.0  0.0  0.000657  0.000000  0.0
9996  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.000000  0.004105  0.0
9997  0.000585  0.0  ...  0.000000  0.0  0.0  0.0  0.000335  0.000000  0.0
9998  0.000000  0.0  ...  0.000423  0.0  0.0  0.0  0.000173  0.000000  0.0
9999  0.000000  0.0  ...  0.000000  0.0  0.0  0.0  0.000000  0.000000  0.0

           bul  unc  sli
0     0.000000  0.0  0.0
1     0.000000  0.0  0.0
2     0.000000  0.0  0.0
3     0.000000  0.0  0.0
4     0.000000  0.0  0.0
...        ...  ...  ...
9995  0.000000  0.0  0.0
9996  0.000000  0.0  0.0
9997  0.000000  0.0  0.0
9998  0.000765  0.0  0.0
9999  0.000000  0.0  0.0

[10000 rows x 2870 columns]

In [43]:
data_train_intersec, data_test_intersec, label_train_intersec, label_test_intersec = train_test_split((Vectorizer_Intersection), Label_Yelp, random_state = 0)

## Akurasi

In [44]:
RF_Classifier_Intersec = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Intersec.fit(data_train_intersec, label_train_intersec)
print("skor Intersec_Model: {}".format(RF_Classifier_Intersec.score(data_test_intersec, label_test_intersec)))

skor Intersec_Model: 0.8312

## 2. Jika diterapkan data gabungan antara Vocabulary_Amazon (fi > 0) dan Vocabulary Yelp

In [45]:
Vocabulary_Gabungan = []
iterator = 0
length = len(Vocabulary_Yelp)

while iterator < length : 
#     jika interseksi dengan amazon dan bukan fitur importance maka vocab tidak dimasukan
    if  (Vocabulary_Yelp[iterator] in Vocabulary_Amazon) and (Vocabulary_Yelp[iterator] not in Vocabulary_Importance_Amazon) : 
        iterator = iterator + 1
        continue
        
    Vocabulary_Gabungan.append(Vocabulary_Yelp[iterator])
    iterator = iterator + 1

In [46]:
WordDictionaryCount_Gabungan = []

iterator = 0
while iterator < len(ngram_yelp):
    WordDictionaryCount_Gabungan.append(dict.fromkeys(Vocabulary_Gabungan, 0))
    iterator = iterator + 1

In [47]:
iterator = 0
while iterator < len(ngram_yelp) :
    for gram in ngram_yelp[iterator] :
        if gram in Vocabulary_Gabungan :
            WordDictionaryCount_Gabungan[iterator][gram] += 1
    iterator = iterator + 1

In [48]:
iterator = 0
TF_Gabungan = []
while iterator < len(WordDictionaryCount_Gabungan):
    TF_Gabungan.append(computeTF(WordDictionaryCount_Gabungan[iterator], ngram_yelp[iterator]))
    iterator = iterator + 1

IDF_Gabungan = computeIDF(WordDictionaryCount_Gabungan)

In [49]:
TF_IDF_Gabungan = []
iterator = 0
while iterator < len(WordDictionaryCount_Gabungan):
    TF_IDF_Gabungan.append(computeTFIDF(TF_Gabungan[iterator], IDF_Gabungan))
    iterator = iterator + 1

In [50]:
Vectorizer_Gabungan = []
iterator  = 0
while iterator < len(TF_IDF_Gabungan):
    Vectorizer_Gabungan.append(list(TF_IDF_Gabungan[iterator].values()))
    iterator = iterator + 1

In [51]:
DataFrame_Gabungan = pd.DataFrame(Vectorizer_Gabungan, columns = Vocabulary_Gabungan)
print(DataFrame_Gabungan)

            i          d        do        on        nt        t          k  \
0     0.000184  0.000388  0.000692  0.000343  0.000248  0.000095  0.000200
1     0.000506  0.000272  0.000761  0.000290  0.000508  0.000116  0.000220
2     0.000187  0.000216  0.000352  0.000376  0.000362  0.000143  0.000000
3     0.000096  0.000443  0.000483  0.000276  0.000149  0.000178  0.000000
4     0.000000  0.000129  0.000421  0.000289  0.000778  0.000201  0.000000
...        ...       ...       ...       ...       ...       ...       ...
9995  0.000395  0.000101  0.000000  0.000151  0.000102  0.000043  0.000572
9996  0.000000  0.000000  0.000000  0.000000  0.000000  0.000204  0.000000
9997  0.001175  0.000129  0.000000  0.000096  0.000130  0.000146  0.000729
9998  0.000217  0.000200  0.000218  0.000225  0.000604  0.000080  0.000189
9999  0.000933  0.000119  0.000390  0.000089  0.000240  0.000085  0.000000

            kn        no        ow  ...  pkg  zaf   fj  wlr  srx  xns  hnf  \
0     0.000294  0.000337  0.000101  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.000323  0.000074  0.000111  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.000000  0.000275  0.000411  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.000000  0.000282  0.000211  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.000000  0.000000  0.000289  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.000000  0.000000  0.001030  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.001073  0.000246  0.000368  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.000556  0.000127  0.000191  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

      lny  cpn  wfs
0     0.0  0.0  0.0
1     0.0  0.0  0.0
2     0.0  0.0  0.0
3     0.0  0.0  0.0
4     0.0  0.0  0.0
...   ...  ...  ...
9995  0.0  0.0  0.0
9996  0.0  0.0  0.0
9997  0.0  0.0  0.0
9998  0.0  0.0  0.0
9999  0.0  0.0  0.0

[10000 rows x 4263 columns]

In [52]:
data_train_gabungan, data_test_gabungan, label_train_gabungan, label_test_gabungan = train_test_split((Vectorizer_Gabungan), Label_Yelp, random_state = 0)

In [53]:
RF_Classifier_Gabungan = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Gabungan.fit(data_train_gabungan, label_train_gabungan)
print("skor Model: {}".format(RF_Classifier_Gabungan.score(data_test_gabungan, label_test_gabungan)))

skor Model: 0.8296