SKRIPSI

# Import library

In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import re
import nltk

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, validation_curve,RandomizedSearchCV

np.random.seed(0)
stopwords = nltk.corpus.stopwords.words('english')
poster_Stemmer = nltk.PorterStemmer()

# Baca file csv

In [2]:
#baca csv
data_amazon = pd.read_csv('Amazon_dataset.csv')
data_yelp = pd.read_csv('Yelp_dataset.csv')

In [3]:
data_amazon.head()

   Label                                           Sentimen
0      0  Buyer beware This is a self-published book, an...
1      0  The Worst! A complete waste of time. Typograph...
2      0  Oh please I guess you have to be a romance nov...
3      0  Awful beyond belief! I feel I have to write to...
4      0  Another Abysmal Digital Copy Rather than scrat...

In [4]:
data_yelp.head()

   Label                                           Sentimen
0      0  I don't know what Dr. Goldberg was like before...
1      0  I'm writing this review to give you a heads up...
2      0  Owning a driving range inside the city limits ...
3      0  This place is absolute garbage...  Half of the...
4      0  Used to go there for tires, brakes, etc.  Thei...

# Preprocessing ke lowercase

In [5]:
iterator = 0
data_FaseToLowercase_Amazon = data_amazon
data_Lowercase_Amazon = []

data_FaseToLowercase_Yelp = data_yelp
data_Lowercase_Yelp = []

while iterator < len(data_amazon) :
    data_Lowercase_Amazon.append(data_amazon.Sentimen[iterator].lower())
    iterator = iterator + 1

iterator = 0

while iterator < len(data_yelp) :
    data_Lowercase_Yelp.append(data_yelp.Sentimen[iterator].lower())
    iterator = iterator + 1

In [6]:
data_FaseToLowercase_Amazon['Lowercase'] = data_Lowercase_Amazon
data_FaseToLowercase_Amazon.head()

,Label,Sentimen,Lowercase
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an..."
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...

In [7]:
data_FaseToLowercase_Yelp['Lowercase'] = data_Lowercase_Yelp
data_FaseToLowercase_Yelp.head()

,Label,Sentimen,Lowercase
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei..."

# Menghilangkan angka

In [8]:
iterator = 0
data_FaseRemoveNumber_Amazon = data_FaseToLowercase_Amazon
data_RemoveNumber_Amazon = []

data_FaseRemoveNumber_Yelp = data_FaseToLowercase_Yelp
data_RemoveNumber_Yelp = []

while iterator < len(data_FaseToLowercase_Amazon) :
    data_RemoveNumber_Amazon.append(re.sub(r"\d+", "",data_FaseRemoveNumber_Amazon.Lowercase[iterator]))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_FaseToLowercase_Yelp) :
    data_RemoveNumber_Yelp.append(re.sub(r"\d+", "",data_FaseRemoveNumber_Yelp.Lowercase[iterator]))
    iterator = iterator + 1

In [9]:
data_FaseRemoveNumber_Amazon['RemoveNumber'] = data_RemoveNumber_Amazon
data_FaseRemoveNumber_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an..."
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [10]:
data_FaseRemoveNumber_Yelp['RemoveNumber'] = data_RemoveNumber_Yelp
data_FaseRemoveNumber_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei..."

# Menghilangkan tanda baca

In [11]:
iterator = 0
data_FaseRemovePunctuation_Amazon = data_FaseRemoveNumber_Amazon
data_RemovePunctuation_Amazon = []

data_FaseRemovePunctuation_Yelp = data_FaseRemoveNumber_Yelp
data_RemovePunctuation_Yelp = []

while iterator < len(data_FaseRemoveNumber_Amazon) :
    data_RemovePunctuation_Amazon.append(data_FaseRemovePunctuation_Amazon.RemoveNumber[iterator].translate(str.maketrans('','', string.punctuation)))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_FaseToLowercase_Yelp) :
    data_RemovePunctuation_Yelp.append(data_FaseRemovePunctuation_Yelp.RemoveNumber[iterator].translate(str.maketrans('','', string.punctuation)))
    iterator = iterator + 1

In [12]:
data_FaseRemovePunctuation_Amazon['RemovePunctuation'] = data_RemovePunctuation_Amazon
data_FaseRemovePunctuation_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an...",buyer beware this is a selfpublished book and ...
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...,the worst a complete waste of time typographic...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief i feel i have to write to ...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [13]:
data_FaseRemovePunctuation_Yelp['RemovePunctuation'] = data_RemovePunctuation_Yelp
data_FaseRemovePunctuation_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...,i dont know what dr goldberg was like before ...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,im writing this review to give you a heads up ...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...,this place is absolute garbage half of the te...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei...",used to go there for tires brakes etc their p...

# Menghilangkan Non alfabet

In [14]:
iterator = 0
data_FaseRegex_alpabet_only_Amazon = data_FaseRemovePunctuation_Amazon
data_Regex_alpabet_only_Amazon = []

data_FaseRegex_alpabet_only_Yelp = data_FaseRemovePunctuation_Yelp
data_Regex_alpabet_only_Yelp = []


while iterator < len(data_FaseRemovePunctuation_Amazon) :
    data_Regex_alpabet_only_Amazon.append(" ".join(re.findall("[a-zA-Z]+", data_FaseRegex_alpabet_only_Amazon.RemovePunctuation[iterator])))
    iterator = iterator + 1

iterator = 0

while iterator < len(data_FaseRemovePunctuation_Amazon) :
    data_Regex_alpabet_only_Yelp.append(" ".join(re.findall(r"[a-zA-Z]+", data_FaseRegex_alpabet_only_Yelp.RemovePunctuation[iterator])))
    iterator = iterator + 1

In [15]:
data_FaseRegex_alpabet_only_Amazon['Regex'] = data_Regex_alpabet_only_Amazon
data_FaseRegex_alpabet_only_Amazon.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation,Regex
0,0,"Buyer beware This is a self-published book, an...","buyer beware this is a self-published book, an...","buyer beware this is a self-published book, an...",buyer beware this is a selfpublished book and ...,buyer beware this is a selfpublished book and ...
1,0,The Worst! A complete waste of time. Typograph...,the worst! a complete waste of time. typograph...,the worst! a complete waste of time. typograph...,the worst a complete waste of time typographic...,the worst a complete waste of time typographic...
2,0,Oh please I guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...,oh please i guess you have to be a romance nov...
3,0,Awful beyond belief! I feel I have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief! i feel i have to write to...,awful beyond belief i feel i have to write to ...,awful beyond belief i feel i have to write to ...
4,0,Another Abysmal Digital Copy Rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...,another abysmal digital copy rather than scrat...

In [16]:
data_FaseRegex_alpabet_only_Yelp['Regex'] = data_Regex_alpabet_only_Yelp
data_FaseRegex_alpabet_only_Yelp.head()

,Label,Sentimen,Lowercase,RemoveNumber,RemovePunctuation,Regex
0,0,I don't know what Dr. Goldberg was like before...,i don't know what dr. goldberg was like before...,i don't know what dr. goldberg was like before...,i dont know what dr goldberg was like before ...,i dont know what dr goldberg was like before m...
1,0,I'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,i'm writing this review to give you a heads up...,im writing this review to give you a heads up ...,im writing this review to give you a heads up ...
2,0,Owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...,owning a driving range inside the city limits ...
3,0,This place is absolute garbage... Half of the...,this place is absolute garbage... half of the...,this place is absolute garbage... half of the...,this place is absolute garbage half of the te...,this place is absolute garbage half of the tee...
4,0,"Used to go there for tires, brakes, etc. Thei...","used to go there for tires, brakes, etc. thei...","used to go there for tires, brakes, etc. thei...",used to go there for tires brakes etc their p...,used to go there for tires brakes etc their pr...

# Vectorisasi data sentimen

In [17]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer_Amazon = TfidfVectorizer(ngram_range=(2,3), analyzer = 'char')
vectorizer_Yelp = TfidfVectorizer(ngram_range=(2,3), analyzer = 'char')
#ngram nya range 2,2 , 2,3, 3,3 
#tfidf range
#klo kolom data > 500 pakein PCA 500 atau gapake sambil hyperparameter randomforest
#analyzer = 'char_wb, word'
#cobain tfid (analyz) di 10000 data
#cobain PCA
Label_Amazon = data_FaseRegex_alpabet_only_Amazon.Label
Clean_Amazon_Sentiment = data_Regex_alpabet_only_Amazon

Label_Yelp = data_FaseRegex_alpabet_only_Yelp.Label
Clean_Yelp_Sentiment = data_Regex_alpabet_only_Yelp

Vectorizer_Amazon = vectorizer_Amazon.fit_transform(Clean_Amazon_Sentiment)
Vocabulary_Amazon = vectorizer_Amazon.get_feature_names()

Vectorizer_Yelp = vectorizer_Yelp.fit_transform(Clean_Yelp_Sentiment)
Vocabulary_Yelp = vectorizer_Yelp.get_feature_names()

# Dataframe Data Sentimen Amazon

In [18]:
DataFrame_Amazon = pd.DataFrame(Vectorizer_Amazon.toarray(), columns = Vocabulary_Amazon)
print (DataFrame_Amazon)

             a        a    aa        ab        ac        ad   ae        af  \
0     0.174876  0.079683  0.0  0.000000  0.000000  0.000000  0.0  0.000000
1     0.149460  0.046820  0.0  0.044112  0.051802  0.056224  0.0  0.000000
2     0.122932  0.056014  0.0  0.026387  0.000000  0.000000  0.0  0.034222
3     0.107129  0.041304  0.0  0.000000  0.000000  0.000000  0.0  0.000000
4     0.121443  0.022826  0.0  0.014337  0.016837  0.000000  0.0  0.000000
...        ...       ...  ...       ...       ...       ...  ...       ...
9995  0.048360  0.015149  0.0  0.000000  0.000000  0.000000  0.0  0.000000
9996  0.051526  0.021522  0.0  0.000000  0.000000  0.000000  0.0  0.000000
9997  0.110433  0.046126  0.0  0.000000  0.000000  0.000000  0.0  0.000000
9998  0.033297  0.000000  0.0  0.000000  0.000000  0.000000  0.0  0.000000
9999  0.089949  0.045084  0.0  0.000000  0.000000  0.000000  0.0  0.000000

           ag   ah  ...  zzf  zzi  zzk  zzl  zzo  zzs  zzt  zzu  zzy  zzz
0     0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.02428  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.05423  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.00000  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10000 rows x 9905 columns]

## Dataframe Sentimen Yelp

In [19]:
DataFrame_Yelp = pd.DataFrame(Vectorizer_Yelp.toarray(), columns = Vocabulary_Yelp)
print (DataFrame_Yelp)

             a        a    aa        ab        ac        ad   ae        af  \
0     0.171501  0.048055  0.0  0.036048  0.000000  0.017099  0.0  0.014372
1     0.140692  0.044075  0.0  0.012858  0.000000  0.036593  0.0  0.000000
2     0.159668  0.054783  0.0  0.011986  0.045752  0.017056  0.0  0.000000
3     0.190210  0.025380  0.0  0.022212  0.000000  0.000000  0.0  0.026567
4     0.059506  0.035729  0.0  0.000000  0.000000  0.000000  0.0  0.000000
...        ...       ...  ...       ...       ...       ...  ...       ...
9995  0.120945  0.016138  0.0  0.000000  0.000000  0.000000  0.0  0.000000
9996  0.090639  0.036282  0.0  0.000000  0.000000  0.090368  0.0  0.000000
9997  0.181633  0.019829  0.0  0.000000  0.000000  0.000000  0.0  0.041512
9998  0.169450  0.040697  0.0  0.011872  0.015106  0.000000  0.0  0.014200
9999  0.154483  0.037103  0.0  0.000000  0.041315  0.000000  0.0  0.000000

       ag        ah  ...  zzb  zzc  zze  zzi  zzl  zzn  zzo  zzu  zzy  zzz
0     0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.0  0.027294  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[10000 rows x 9856 columns]

# Jumlah data label positif dan negatif

In [20]:
print("Data positif negatif amazon")
DataFrame_Label = pd.DataFrame(Label_Amazon)
print(DataFrame_Label['Label'].value_counts())

print("\n")

print("Data positif negatif yelp")
DataFrame_Label = pd.DataFrame(Label_Yelp)
print(DataFrame_Label['Label'].value_counts())

Data positif negatif amazon
1    5000
0    5000
Name: Label, dtype: int64


Data positif negatif yelp
1    5000
0    5000
Name: Label, dtype: int64

# Train test split data amazon dan yelp

In [21]:
data_train_amazon, data_test_amazon, label_train_amazon, label_test_amazon = train_test_split(Vectorizer_Amazon.toarray(), Label_Amazon, random_state = 0)
data_train_yelp, data_test_yelp, label_train_yelp, label_test_yelp = train_test_split(Vectorizer_Yelp.toarray(), Label_Yelp, random_state = 0)

In [22]:
print("Amazon data")
print("data train shape : {}".format(data_train_amazon.shape))
print("data test shape : {}".format(data_test_amazon.shape))
print("label train shape : {}".format(label_train_amazon.shape))
print("label test shape : {}".format(label_test_amazon.shape))

print("\nYelp data")
print("data train shape : {}".format(data_train_yelp.shape))
print("data test shape : {}".format(data_test_yelp.shape))
print("label train shape : {}".format(label_train_yelp.shape))
print("label test shape : {}".format(label_test_yelp.shape))

Amazon data
data train shape : (7500, 9905)
data test shape : (2500, 9905)
label train shape : (7500,)
label test shape : (2500,)

Yelp data
data train shape : (7500, 9856)
data test shape : (2500, 9856)
label train shape : (7500,)
label test shape : (2500,)

In [23]:
# from sklearn.decomposition import PCA

# dr = PCA(n_components = 300)
# dr.fit(data_train_amazon)
# data_train_amazon = dr.transform(data_train_amazon)
# data_test_amazon = dr.transform(data_test_amazon)

# Skor Akurasi Amazon dan Yelp

In [24]:
RF_Classifier_Amazon = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Amazon.fit(data_train_amazon, label_train_amazon)
print("skor RF_Amazon: {}".format(RF_Classifier_Amazon.score(data_test_amazon, label_test_amazon)))

RF_Classifier_Yelp = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Yelp.fit(data_train_yelp, label_train_yelp)
print("skor RF_Yelp: {}".format(RF_Classifier_Yelp.score(data_test_yelp, label_test_yelp)))

skor RF_Amazon: 0.8184
skor RF_Yelp: 0.8256

In [25]:
Vocabulary_Importance_Amazon = []
iterator = 0
length = len (Vocabulary_Amazon)

while iterator < length : 
    if RF_Classifier_Amazon.feature_importances_[iterator] > 0 :
        Vocabulary_Importance_Amazon.append(Vocabulary_Amazon[iterator])
       
    iterator = iterator + 1

# Membuat Vectorizer baru dari data fitur importance only

In [26]:
vectorizer_importance_amazon = TfidfVectorizer(vocabulary = Vocabulary_Importance_Amazon, ngram_range=(2,3), analyzer = 'char_wb')
Vocabulary_Importance_Amazon_Clean = vectorizer_importance_amazon.get_feature_names()
Vectorizer_Importance_Amazon = vectorizer_importance_amazon.fit_transform(Clean_Amazon_Sentiment)

# DataFrame Amazon dengan fitur importance > 0

In [27]:
DataFrame_Importance_Amazon = pd.DataFrame(Vectorizer_Importance_Amazon.toarray(), columns = Vocabulary_Importance_Amazon_Clean)
print (DataFrame_Importance_Amazon)

             a        a         ab        ac        ad        af        ag  \
0     0.189565  0.085772  0.000000  0.000000  0.000000  0.000000  0.000000
1     0.162808  0.050645  0.047877  0.056451  0.061177  0.000000  0.000000
2     0.134657  0.060928  0.028799  0.000000  0.000000  0.037482  0.000000
3     0.121781  0.043294  0.000000  0.000000  0.000000  0.000000  0.025633
4     0.138753  0.024664  0.015544  0.018328  0.000000  0.000000  0.000000
...        ...       ...       ...       ...       ...       ...       ...
9995  0.051326  0.015966  0.000000  0.000000  0.000000  0.000000  0.000000
9996  0.055924  0.023195  0.000000  0.000000  0.000000  0.000000  0.000000
9997  0.124458  0.051620  0.000000  0.000000  0.000000  0.000000  0.061126
9998  0.058099  0.000000  0.045561  0.000000  0.000000  0.000000  0.000000
9999  0.118441  0.049124  0.000000  0.000000  0.000000  0.000000  0.000000

       ai        al        am  ...  zer  zes        zi       zin  zit  \
0     0.0  0.000000  0.043515  ...  0.0  0.0  0.000000  0.000000  0.0
1     0.0  0.000000  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
2     0.0  0.064706  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
3     0.0  0.015326  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
4     0.0  0.000000  0.016684  ...  0.0  0.0  0.000000  0.000000  0.0
...   ...       ...       ...  ...  ...  ...       ...       ...  ...
9995  0.0  0.000000  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
9996  0.0  0.000000  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
9997  0.0  0.000000  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
9998  0.0  0.000000  0.000000  ...  0.0  0.0  0.000000  0.000000  0.0
9999  0.0  0.034780  0.049845  ...  0.0  0.0  0.076316  0.078728  0.0

            zo       zon   zs  zz   zzy
0     0.032139  0.033359  0.0  0.0  0.0
1     0.000000  0.000000  0.0  0.0  0.0
2     0.000000  0.000000  0.0  0.0  0.0
3     0.000000  0.000000  0.0  0.0  0.0
4     0.024645  0.025580  0.0  0.0  0.0
...        ...       ...  ...  ...  ...
9995  0.000000  0.000000  0.0  0.0  0.0
9996  0.000000  0.000000  0.0  0.0  0.0
9997  0.000000  0.000000  0.0  0.0  0.0
9998  0.000000  0.000000  0.0  0.0  0.0
9999  0.000000  0.000000  0.0  0.0  0.0

[10000 rows x 2903 columns]

In [28]:
data_train_importance_amazon, data_test_importance_amazon, label_train_importance_amazon, label_test_importance_amazon = train_test_split(Vectorizer_Importance_Amazon.toarray(), Label_Amazon, random_state = 0)

In [29]:
print("Amazon Importance data")
print("data train shape : {}".format(data_train_importance_amazon.shape))
print("data test shape : {}".format(data_test_importance_amazon.shape))
print("label train shape : {}".format(label_train_importance_amazon.shape))
print("label test shape : {}".format(label_test_importance_amazon.shape))

Amazon Importance data
data train shape : (7500, 2903)
data test shape : (2500, 2903)
label train shape : (7500,)
label test shape : (2500,)

# Akurasi Amazon dengan fitur importance > 0

In [30]:
RF_Classifier_Amazon_Importance = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Amazon_Importance.fit(data_train_importance_amazon, label_train_importance_amazon)
print("skor RF_Amazon: {}".format(RF_Classifier_Amazon_Importance.score(data_test_importance_amazon, label_test_importance_amazon)))

skor RF_Amazon: 0.81

# Mengetahui akurasi dari interseksi data yelp dan amazon(FI)

In [31]:
Vocabulary_intersection = list(set(Vocabulary_Importance_Amazon) & set (Vocabulary_Yelp))

In [32]:
print(len(Vocabulary_intersection))

2898

In [33]:
vectorizer_intersection_yelp = TfidfVectorizer(vocabulary = Vocabulary_intersection, ngram_range=(2,3), analyzer = 'char_wb')
Vocabulary_Intersection = vectorizer_intersection_yelp.get_feature_names()
Vectorizer_Intersection_Yelp = vectorizer_intersection_yelp.fit_transform(Clean_Yelp_Sentiment)

# Dataframe interseksi yelp dan amazon (FI)

In [34]:
DataFrame_Intersection = pd.DataFrame(Vectorizer_Intersection_Yelp.toarray(), columns = Vocabulary_Intersection)
print (DataFrame_Intersection)

            ee       tak  hri       ret  k p  n h  eng  aul       him  h m  \
0     0.008210  0.000000  0.0  0.016903  0.0  0.0  0.0  0.0  0.000000  0.0
1     0.008646  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.023218  0.0
2     0.032267  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0
3     0.044303  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0
4     0.021792  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0
...        ...       ...  ...       ...  ...  ...  ...  ...       ...  ...
9995  0.038915  0.000000  0.0  0.080118  0.0  0.0  0.0  0.0  0.000000  0.0
9996  0.000000  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0
9997  0.023417  0.046101  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0
9998  0.031959  0.000000  0.0  0.016449  0.0  0.0  0.0  0.0  0.000000  0.0
9999  0.044492  0.000000  0.0  0.000000  0.0  0.0  0.0  0.0  0.000000  0.0

      ...  ply  k m   sk       adu  k c  oft        ot  obt        th  \
0     ...  0.0  0.0  0.0  0.034474  0.0  0.0  0.000000  0.0  0.142899
1     ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.111230
2     ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.207551
3     ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.145279
4     ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.148421
...   ...  ...  ...  ...       ...  ...  ...       ...  ...       ...
9995  ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.161967
9996  ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.104046
9997  ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.159484
9998  ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.000000  0.0  0.126969
9999  ...  0.0  0.0  0.0  0.000000  0.0  0.0  0.044407  0.0  0.101008

            ye
0     0.000000
1     0.000000
2     0.037109
3     0.000000
4     0.000000
...        ...
9995  0.000000
9996  0.000000
9997  0.000000
9998  0.000000
9999  0.000000

[10000 rows x 2898 columns]

In [35]:
data_train_intersection, data_test_intersection, label_train_intersection, label_test_intersection = train_test_split(Vectorizer_Intersection_Yelp.toarray(), Label_Yelp, random_state = 0)

In [36]:
print("Intersection data")
print("data train shape : {}".format(data_train_intersection.shape))
print("data test shape : {}".format(data_test_intersection.shape))
print("label train shape : {}".format(label_train_intersection.shape))
print("label test shape : {}".format(label_test_intersection.shape))

Intersection data
data train shape : (7500, 2898)
data test shape : (2500, 2898)
label train shape : (7500,)
label test shape : (2500,)

# Akurasi interseksi

In [37]:
RF_Classifier_Yelp_intersec = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Yelp_intersec.fit(data_train_intersection, label_train_intersection)
print("skor RF_Interseksi: {}".format(RF_Classifier_Yelp_intersec.score(data_test_intersection, label_test_intersection)))

skor RF_Interseksi: 0.8348

# Mengetahui akurasi dari gabungan data yelp dan amazon(FI)

In [38]:
Vocabulary_Gabungan_Yelp = []
iterator = 0
length = len(Vocabulary_Yelp)

while iterator < length : 
#     jika interseksi dengan amazon dan bukan fitur importance maka vocab tidak dimasukan
    if  (Vocabulary_Yelp[iterator] in Vocabulary_Amazon) and (Vocabulary_Yelp[iterator] not in Vocabulary_Importance_Amazon) : 
        iterator = iterator + 1
        continue
        
    Vocabulary_Gabungan_Yelp.append(Vocabulary_Yelp[iterator])
    iterator = iterator + 1

In [39]:
print(len(Vocabulary_Gabungan_Yelp))

4291

In [40]:
vectorizer_gabungan_yelp = TfidfVectorizer(vocabulary = Vocabulary_Gabungan_Yelp, ngram_range=(2,3), analyzer = 'char_wb')
Vocabulary_Gabungan_Yelp = vectorizer_gabungan_yelp.get_feature_names()
Vectorizer_Gabungan_Yelp = vectorizer_gabungan_yelp.fit_transform(Clean_Yelp_Sentiment)

# Dataframe Gabungan Yelp dengan Amazon(FI>0)

In [41]:
DataFrame_Gabungan = pd.DataFrame(Vectorizer_Gabungan_Yelp.toarray(), columns = Vocabulary_Gabungan_Yelp)
print (DataFrame_Gabungan)

             a        a         ab        ac        ad        af   ag   ai  \
0     0.185348  0.051917  0.038885  0.000000  0.018503  0.015456  0.0  0.0
1     0.149646  0.046863  0.013650  0.000000  0.038971  0.000000  0.0  0.0
2     0.169910  0.058276  0.012731  0.048764  0.018174  0.000000  0.0  0.0
3     0.200032  0.026681  0.023314  0.000000  0.000000  0.027800  0.0  0.0
4     0.065596  0.039372  0.000000  0.000000  0.000000  0.000000  0.0  0.0
...        ...       ...       ...       ...       ...       ...  ...  ...
9995  0.131778  0.017577  0.000000  0.000000  0.000000  0.000000  0.0  0.0
9996  0.103465  0.041401  0.000000  0.000000  0.103288  0.000000  0.0  0.0
9997  0.193836  0.021153  0.000000  0.000000  0.000000  0.044082  0.0  0.0
9998  0.180169  0.043256  0.012600  0.016087  0.000000  0.015024  0.0  0.0
9999  0.167406  0.040192  0.000000  0.044842  0.000000  0.000000  0.0  0.0

            al        am  ...  zxl  zyb  zye  zyl  zyn  zyy  zz   zzc  zzn  \
0     0.010044  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.019730  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.036131  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  0.023803  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9996  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9997  0.028646  0.082674  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9998  0.009763  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9999  0.027214  0.039271  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

      zzy
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
9995  0.0
9996  0.0
9997  0.0
9998  0.0
9999  0.0

[10000 rows x 4291 columns]

In [42]:
data_train_gab_yelp, data_test_gab_yelp, label_train_gab_yelp, label_test_gab_yelp = train_test_split(Vectorizer_Gabungan_Yelp.toarray(), Label_Yelp, random_state = 0)

In [43]:
print("Yelp data Gabungan")
print("data train shape : {}".format(data_train_gab_yelp.shape))
print("data test shape : {}".format(data_test_gab_yelp.shape))
print("label train shape : {}".format(label_train_gab_yelp.shape))
print("label test shape : {}".format(label_test_gab_yelp.shape))

Yelp data Gabungan
data train shape : (7500, 4291)
data test shape : (2500, 4291)
label train shape : (7500,)
label test shape : (2500,)

# Akurasi gabungan yelp dan amazon (Fi>0)

In [44]:
RF_Classifier_Yelp_gabungan = RandomForestClassifier(max_depth= 5, n_estimators = 800, random_state=42,
                                       bootstrap = False, min_samples_split = 5, min_samples_leaf = 1, max_features = 'auto')
RF_Classifier_Yelp_gabungan.fit(data_train_gab_yelp, label_train_gab_yelp)
print("skor Gabungan: {}".format(RF_Classifier_Yelp_gabungan.score(data_test_gab_yelp, label_test_gab_yelp)))

skor Gabungan: 0.8284

In [45]:
print(Vectorizer_Amazon)

  (0, 5145)	0.02161583914498161
  (0, 6227)	0.018774747928181835
  (0, 7214)	0.019140326403469247
  (0, 2991)	0.01976749667096081
  (0, 1051)	0.030392099739082093
  (0, 24)	0.026554689961178175
  (0, 6919)	0.015738501247955894
  (0, 6924)	0.02343192974611269
  (0, 2811)	0.06239354566120495
  (0, 9414)	0.04029953406993937
  (0, 7879)	0.036741269370477586
  (0, 4473)	0.026606003172040787
  (0, 6183)	0.02989379203016984
  (0, 4336)	0.04272716366261396
  (0, 241)	0.02802211462195735
  (0, 598)	0.03939250713810272
  (0, 964)	0.011345512069703313
  (0, 20)	0.016850352781044048
  (0, 2544)	0.033956610528652086
  (0, 5242)	0.03447736122606571
  (0, 4401)	0.021326091969544103
  (0, 7501)	0.025707135053855
  (0, 1853)	0.010812458756681473
  (0, 6048)	0.019621770300588953
  (0, 6281)	0.01973884881780262
  :	:
  (9999, 5963)	0.06006984046748991
  (9999, 8070)	0.06205515255739138
  (9999, 7828)	0.12565201345567603
  (9999, 524)	0.07557582968694111
  (9999, 6399)	0.020547383214912302
  (9999, 5587)	0.019461361111353728
  (9999, 868)	0.03729538615533572
  (9999, 1319)	0.02695640300285303
  (9999, 1833)	0.03617446376357137
  (9999, 3476)	0.07409219821116385
  (9999, 429)	0.03788269039447188
  (9999, 588)	0.04329329294027189
  (9999, 0)	0.08994910423156294
  (9999, 200)	0.07242856233927257
  (9999, 7386)	0.10711102890099998
  (9999, 4098)	0.0756136994417036
  (9999, 3527)	0.039142301402048406
  (9999, 7971)	0.12523806706919044
  (9999, 456)	0.16034555969675848
  (9999, 2216)	0.03560741502784444
  (9999, 7028)	0.037700944262861885
  (9999, 8940)	0.04962664764092816
  (9999, 28)	0.01914752687958993
  (9999, 6918)	0.07745562121928326
  (9999, 2577)	0.07486761239589322